:root {
    --primary-color: #ffc107;
    --accent-color: #ff8400;
    --secondary-color: #212121;
    --body-bg: #181818;
    --container-bg: #242424;
    --text-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

.rounded-box {
    border-radius: 8px;
    padding: 30px;
    background-color: var(--container-bg);
    margin: 30px;
}

.header-button {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.circular-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #333;
}

th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}